body {
    padding: 4% 8%;
}

img {
    width: 30%;
    height: auto;
    margin-top: 15%;
    margin-bottom: 5%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

caption {
    margin-top: 10%;
}

/* th, td {
    text-align: center;
} */

/* .container, table {
    margin: 4% 0;
} */
